@import url('https://fonts.googleapis.com/css2?family=Erica+One&family=Lato:wght@300;400;700&display=swap');

@font-face {
  font-family: 'Stiff Staff';
  src: url('../../public/fonts/Stiff_Staff/StiffStaff-Heavy.ttf'); /* IE9 Compat Modes */
  src: url('../../public/fonts/Stiff_Staff/StiffStaff-Heavy.ttf?#iefix')
      format('embedded-truetype'),
    /* IE6-IE8 */ url('../../public/fonts/Stiff_Staff/StiffStaff-Heavy.ttf')
      format('truetype');
}

$primaryColor: rgb(44, 62, 80);
$secondaryColor: rgb(230, 126, 34);
$textColor: rgb(100 , 99, 98);

* {
  transition: ease-in 0.3s;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
  color: $textColor;
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  color: $primaryColor;
  font-family: 'Erica One', cursive;

  &:after {
    content: '';
    display: block;
    width: 72px;
    border-bottom: 3px solid $secondaryColor;
  }
}

h3 {
  font-weight: 300;
  color: $textColor;
  font-size: 2.5rem;
}
h4 {
  color: $textColor;
  font-size: 1.5rem;
}
p {
  color: $textColor;
}

a {
  color: $primaryColor;
  text-decoration: none;
  font-family: monospace;
  font-weight: 300;

  &:hover {
    color: dodgerblue;
    border-bottom: 3px solid $secondaryColor;
  }
}

a.footer_link {
  color: $secondaryColor;
  font-family: 'Stiff Staff';
}

header {
  background: $primaryColor;
  margin-bottom: none;

  div {
    margin: 0 auto;
    max-width: 960px;
    padding: 0.5rem;

    h1 {
      margin: 0;
      font-family: 'Stiff Staff', monospace;
      color: $secondaryColor;

      &:after {
        border-bottom: none;
      }

      a,
      a:hover {
        color: $secondaryColor;
        border-bottom: none;
        font-family: inherit;
      }
    }
  }
}
.menu {
  background: '##ddd';
  padding-top: none;

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
}
.main-container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1rem 1.5rem;
}

#blog {

  .blog_preview {
    margin-bottom: 2rem;
  }
  .blog_title {
    margin: 6px 0;

    a {
      font-family: inherit;
      &:hover{
        border-bottom: none;
      }
    }
  }
  .blog_tagline {
    margin-top: 2px;
  }
  .blog_credit {
    font-weight: 300;
  }

  span.blog_tag {
    background-color: #f4f4f4;
    color: $textColor;
    border: 1px solid $textColor;
    border-radius: 3px;
    margin: 1px;
    padding: 2px;
  }

  .small_link {
    font-size: 12px;
  }
}

#blog_post_content {
  margin-bottom: 100px;
  max-width: 75%;
  display: block; 
  margin: 0 auto;

  .blog_body {
    margin-bottom: 50px;
  }

  .blog_tagline {
    text-align: center;
    font-size: 1.2rem;
  }

  .blog_date { text-align: center; font-weight: 300}

  .small_link {
    font-size: 12px;
  }
}

footer {
  margin-top: 100px;
}
